<h3 class="preview">Pregled</h3>
<div class="container">
  <h3>Odaberi Program</h3>
  <div class="program-cont">
    <div
      class="circle 1"
      (click)="wasClicked($event, circle1, circle2, circle3)"
      #circle1
    >
      Lagano
    </div>
    <div
      class="circle 1"
      (click)="wasClicked($event, circle1, circle2, circle3)"
      #circle2
    >
      Srednje
    </div>
    <div
      class="circle 1"
      (click)="wasClicked($event, circle1, circle2, circle3)"
      #circle3
    >
      Killer
    </div>
  </div>
  <ul class="exercises">
    <li>20x Sklekova</li>
    <li>40x Trbusnjaka</li>
    <li>50x Cucnjeva</li>
    <li>2min Plank</li>
    <li>2min leg raise</li>
    <li>1min superman</li>
    <li>30 super push</li>
    <li>2min stretch</li>
  </ul>
</div>
