.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5em 0;
}
.roundName {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 2em 0;
  white-space: nowrap;
}
.next {
  font-size: 2rem;
  padding: 1em;
}

.circle {
  width: 220px;
  height: 220px;
  border: 1.5px solid white;
  border-radius: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  p {
    line-height: normal;
    padding: 0.5rem;
  }
}
.paused {
  font-size: 1.6rem;
}
.progress_container {
  height: 200px;
}
.current_time {
  top: 50px;
}
.prog-cent {
  width: 220px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .value {
    position: absolute;
    font-size: 7rem;
    font-family: fantasy;
  }
}

.expand {
  animation: grow 1.5s infinite;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.35);
  }
}
