.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h2 {
        font-size: 2em;
    }
}

.preImg {
    animation: show 5s;
}

.circle {
    width: 140px;
    height: 140px;
    line-height: 140px;
    border: 1.5px solid white;
    border-radius: 50%;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    p {
        line-height: normal;
        padding: 0.5rem;
    }
}
.paused {
    font-size: 1.6rem;
}
.progress_container {
    height: 200px;
}
.current_time {
    top: 50px;
}
.prog-cent {
    width: 140px;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .value {
        position: absolute;
        font-size: 3.4rem;
    }
}
