//variables
$primary: whitesmoke;
$secondary: rgb(231, 227, 227);
$white: #fff;
$gray: #9b9b9b;

.container {
    display: grid;
    grid-template-columns: 1fr 45% 1fr;
    height: 100%;
    grid-template-rows: 60px 50% auto;
}

form {
    width: 100%;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: space-around;
}
.bmi-info {
    justify-self: center;
    grid-column: 1/-1;
    padding: 1em;
    font-weight: 400;
    font-size: 1.6em;
}
.flex {
    display: flex;
    margin: 0.6rem 0;
    p {
        font-size: 1.3rem;
        font-weight: 400;
        align-self: flex-end;
    }
}
.btn {
    align-self: center;
    font-weight: 600;
    font-size: 1.2em;
    padding: .6em 1em;
}
.result-container {
    grid-column: 1/5;
    padding-top: .5em;
    text-align: center;
    height: 40vh;
}
.index-num {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    display: flex;
    margin-top: 10px;
    p {
        align-self: center;
    }
}

.form__field {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}
/* reset input */
.form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.bmi-legend {
    margin: 0 auto;
}
table {
    font-size: 1.2em;
    width: 70%;
    border: 1px solid white;
    border-collapse: collapse;
    td {
        padding: .2em;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    tr {
        padding: .2em;
    }
}
