<div class="container">
  <form [formGroup]="submitForm" (ngSubmit)="getBMI()">
    <p class="bmi-info">
      Izracunaj svoj BMI Index
    </p>

    <div class="input-container">

      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' formControlName="height"
          autocomplete="off" />
        <label for="name" class="form__label">Visina</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' formControlName="weight"
          autocomplete="off" />
        <label for="name" class="form__label">Tezina</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' formControlName="age"
          autocomplete="off" />
        <label for="name" class="form__label">Godine</label>
      </div>
    </div>
    <button class="btn">IZRACUNAJ</button>
  </form>
  <div class="result-container" *ngIf="calculated">
    <h2 class="index-num">{{ bmiIndex }}</h2>
    <p class="index-text">{{ bmiInfo }}</p>
  </div>
</div>