.container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.test {
  animation: fadeIn 6s;
  margin: 0 1rem;
  font-size: 1.1rem;
}

.btn {
  text-transform: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
