<div class="container">
  <h3 class="main-name">
    Dobrodosao ,<br />
    {{ user }}
  </h3>
  <p class="quote">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, voluptatum
    sunt. Et accusamus architecto expedita excepturi atque aperiam iusto facere
    laudantium cum aliquid perspiciatis eligendi nulla dolore ut maiores,
    tempore deleniti ex amet doloribus tempora quidem deserunt nam, modi
    nesciunt. Delectus nulla totam doloribus illo, numquam dolorum soluta culpa
    dolore?
  </p>
</div>
