.container {
  animation: fade-in linear 1.5s;
  text-align: center;
  width: 80%;
  align-items: center;
  margin: auto;
  flex-direction: column;
  height: 100%;
  margin-top: 4rem;
}
.main-name {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 3rem 0;
}

.quote-intro {
  margin-top: 2rem;
}
.quote {
  font-size: 1rem;
  font-style: italic;
}
.main-text {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.challenge {
  font-size: 1.2rem;
  animation: grow 1s infinite;
}

.music-icon {
  width: 50px;
  height: 50px;
  margin: 4rem 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}
