.container {
  font-size: 2.7rem;
}
form {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95vh;
  align-items: center;
}
img {
  height: 25vh;
  opacity: 0.8;
}
.warning {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.title {
  // text-shadow: 2px 2px 1px rgba(245, 245, 245, 0.486);
  color: #eeeeec;
  font-size: 2.7rem;
  text-shadow: 2px 2px 8px rgb(235, 233, 233);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #eeeeec inset !important;
}
input,
input[type="text"] {
  padding-left: 0.5rem;
  line-height: 3.2rem;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #dadada 100%
  );
  font-size: 1.4rem;
  font-weight: 400;
  text-align: start;
  &:focus {
    outline: none !important;
  }
}
label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.wrong-input {
  background: red;
}
.label-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.flex {
  text-align: center;
}

.invalid {
  background: #eeeeec;
  color: black;
}
.err-msg {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: red;
}

.shake {
  animation: shake 0.5s;
  color: red;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}
