<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="title"><p>BIONIC MAN</p></div>
    <div class="label-cont">
      <label for="">Email </label>
      <input type="text" formControlName="email" />
      <!-- <p class="err-msg">
        Invalid Name
      </p> -->
      <label for="">Password</label>
      <input type="password" formControlName="password" />
    </div>
    <div>
      <p class="warning" *ngIf="error">
        Netacan login , probaj ponovo
      </p>
      <button
        class="btn invalid"
        type="submit"
        #logButton
        [disabled]="!signUpForm.valid"
        *ngIf="!isLoading"
      >
        Log IN
      </button>
      <app-loading-spinner
        *ngIf="isLoading"
        style="text-align: center; margin: auto;"
      ></app-loading-spinner>
    </div>
  </form>
</div>
